<section class="container">
  <ul class="noveo-calls__list">
    <li class="noveo-calls__list-item"
      *ngFor="let call of calls">
      <article>
        <h1>
          <a class="title-l"
            href="/calls/{{call.id}}"
            [routerLink]="call.id">
            {{call.callId}}
          </a>
        </h1>
        <div>{{call.callStart }}</div>
        <div>{{call.callDuration}}</div>
        <div>{{call.callWrapups[0]?.agent.login}}</div>
        <div>{{call.callWrapups[0]?.wrapupName}}</div>
      </article>
    </li>
  </ul>
</section>
