@import "../../scss/config.scss";

.noveo-calls {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__list-item {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border: 1px solid $gray;
  }
}
