@import 'config';

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid $primary;
  padding: 0.625rem 0;
  font-size: 1rem;

  &.ng-touched.ng-invalid,
  &.ng-dirty.ng-invalid {
    border-color: $error;
    border-bottom-width: 2px;
  }

  &:focus {
    outline: none;
  }

  &:focus:not(:read-only) {
    border-color: $secondary;
  }
}

select {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid $primary;
  padding-left: 0.625rem;
  padding-right: 1.625rem;
  font-size: 1rem;

  &.ng-touched.ng-invalid,
  &.ng-dirty.ng-invalid {
    border-color: $error;
    border-bottom-width: 2px;
  }

  &:focus {
    outline: none;
  }

  &:focus:not(:read-only) {
    border-color: $secondary;
  }
}

label {
  font-weight: bold;
}

button, .noveo-btn {
  -webkit-appearance: none;
  display: inline-block;
  padding: 0.625rem;
  border-radius: 0;
  border: none;
  font-size: 1rem;
  background: $primary;
  color: $white;
  transition: all .3s ease;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $secondary;
    color: $white;
    text-decoration: none;
  }
}

button[disabled], .noveo-btn[disabled] {
  opacity: 0.5;
}

.noveo-btn {
  &--m {
    font-size: 1.3125rem;
    padding: 0.9375rem;
  }
  &--s {
    font-size: 1rem;
    padding: 0.625rem;
  }
  &--block {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.noveo-form-error {
  color: $error;
  font-size: 0.875rem;
}

.noveo-form {
  &__row {
    margin-bottom: 1.625rem;
  }
}
