@import 'config';

html {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: $secondary;
  text-decoration: none;
  &:focus,
  &:hover {
    color: darken($secondary, 20%);
  }
  &:hover {
    text-decoration: underline;
  }
}

h1, .title-xl {
  color: $primary;
}

h2, .title-l {
  color: $primary;
}

h3, .title-m {
  color: $primary;
}

h4, .title-s {
  color: $primary;
}

h5, .title-xs {
  color: $primary;
}
